*, ::after, ::before {
    box-sizing: border-box;
}
/*HEADER OF BEGINNING*/
header {
    position: relative;
    background-image: linear-gradient(51deg, #d0d0d0 0, #f0f0f0 24%, #f9f9f9 44%, #e2e2e2 100%);
    background-size: 100% 140px;
    background-repeat: no-repeat;
    background-position: left center;
}

.company-info {
    font-size: 16px;
    margin-top: 20px;

}

.top {
    list-style: none;
}

.top p {
    margin-bottom: 0;
}

.phone {
    border-right: 1px solid #eee;
}

.time {
    font-size: 14px;
}

.bottom {
    padding: 40px 20px;
    font-size: 15px;
}

.lang {
    border: 1px solid #eee;
    padding: 5px 20px;
}

.navbar ul {
    list-style: none;
    justify-content: center;
    width: 100%;
}

.navbar ul li {
    /*width: 14.28%;*/
    text-align: center;
    border-right: 1px solid #2f65a0;
    background: #004691;
    padding: 10px 20px;
}

.navbar ul li a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.navbar ul li:hover {
    background: #ea1105;
}
/*HEADER OF END*/
/*MAIN BANNER OF BEGINNING*/
.banner{
    margin-bottom: 50px;
}
.carousel-item{
    height: 440px;
}
.info_banner{
    background: url("../images/main_page_banner/banner_info_bg.png") no-repeat top left;
    height: 440px;
    width: 100%;
}
.banner .col-lg-8, .banner .col-lg-4{
    padding: 0;
}
.carousel-control-prev-icon{
    left:-40px;
    position: absolute;
    width: 33px;
    height: 30px;
    background-size: 60% 60%;
    padding: 7px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid rgba(0,2,25,.25);
}
.carousel-control-next-icon{
    right:-40px;
    position: absolute;
    width: 33px;
    height: 30px;
    background-size: 60% 60%;
    border: 1px solid rgba(0,2,25,.25);
    padding: 7px;
    display: inline-block;
    border-radius: 5px;
}
/*MAIN BANNER OF END */
.equipment{
    margin-bottom: 50px;
}
.title_block{
    color: #00458f;
    font-family: font-family GothamPro,sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 26px;
    border-left: 3px solid #d9261c;
    padding-left: 20px;
}
.equipment .col-lg-3 .item{
    width: 273px;
    position: relative;
    background: rgb(106, 114, 121);
    background: -webkit-linear-gradient(190deg, rgb(106, 114, 121) 0%, rgb(67, 80, 92) 100%);
    background: -o-linear-gradient(190deg, rgb(106, 114, 121) 0%, rgb(67, 80, 92) 100%);
    background: -ms-linear-gradient(190deg, rgb(106, 114, 121) 0%, rgb(67, 80, 92) 100%);
    background: linear-gradient(190deg, rgb(106, 114, 121) 0%, rgb(67, 80, 92) 100%);
}
.equipment .col-lg-3 .item .info{
    padding: 0 28px 0 19px;
    margin-top: 10px;
    margin-bottom: 16px;
    min-height: 170px;
}
.equipment h5{
    color: #fff;
    font-family: font-family GothamPro, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 14px;
    line-height: 20px;
}
.equipment h6{
    color: #ffcb05;
    font-size: 12px;
    font-family: font-family GothamPro,sans-serif;
    margin: 0;
}
.equipment button{
    padding: 6px 14px;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    border-radius: 3px;
    background-color: #a7abaf;
    background-image: linear-gradient(to top,#656d75 0,#a7abaf 100%);
    color: #fff;
    font-family: font-family GothamPro,sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    bottom: 20px;
    cursor: pointer;
}
.statistics_banner{
    background: url("../images/statistics_banner/number_info.jpg") no-repeat;
    height: 447px;
    width: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    margin-bottom: 50px;
}