{% extends 'base.html.twig' %}
{% block title %} Авторизация {% endblock %}
{% block body %}
    <div class="container"
         style="text-align: center; margin-top: 20px;padding-bottom: 10px; width: 450px; background-color: #5eb5e0; border-radius: 15px">
        <h3>Авторизация</h3>
        {% if error %}
            <div style="color:red">{{ error }}</div>
        {% endif %}
        {{ form(form) }}
    </div>
{% endblock %}