<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<header>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="logo col-3 mt-2">
                <img src="{{ asset('images/header/Logo.png') }}" alt="">
            </div>
            <div class="company-info col-9">
                <ul class="row top d-flex align-items-center">
                    <li class="phone col-md-3">
                        <img src="{{ asset('images/header/sep.png') }}" alt="">
                        <p class="d-inline-block">+7 (727) 232-1369</p>
                    </li>
                    <li class="mail col-md-3">
                        <img src="{{ asset('images/header/mail.png') }}" alt="">
                        <p class="d-inline-block">info@safement.kz</p>
                    </li>
                    <li class="time offset-1 col-md-5">
                        <img src="{{ asset('images/header/clock.png') }}" alt="">
                        <p class="d-inline-block">Мы работаем ежедневно, с 9:00 до 18:00</p>
                    </li>
                </ul>
                <div class="row bottom align-center">
                    <p class="col-md-6">СИСТЕМЫ ЗАЩИТЫ ДЛЯ ПРОМЫШЛЕННОГО ОБОРУДОВАНИЯ И ГОРНОДОБЫВАЮЩЕЙ ТЕХНИКИ</p>
                    <select class=" lang offset-5 col-md-1" id="">
                        <option>рус</option>
                        <option>каз</option>
                        <option>eng</option>
                    </select>
                </div>
            </div>
        </div>
        <nav class="navbar">
            <ul class="d-flex">
                <li><a href="#">ГЛАВНАЯ</a></li>
                <li><a href="#">О КОМПАНИИ</a></li>
                <li><a href="#">УСЛУГИ</a></li>
                <li><a href="#">ОБОРУДОВАНИЕ</a></li>
                <li><a href="#">ПРОЕКТЫ</a></li>
                <li><a href="#">КЛИЕНТЫ</a></li>
                <li><a href="#">КОНТАКТЫ</a></li>
            </ul>
        </nav>
    </div>
</header>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
