{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}
{% block title %} Главная {% endblock %}
{% block body %}
    <div class="container">
        <div class="banner">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="info_banner">

                                </div>
                            </div>
                            <div class="col-lg-8">
                                <img class="d-block w-100" src="{{ asset('images/main_page_banner/banner_img.jpg') }}" alt="First slide">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="info_banner">

                                </div>
                            </div>
                            <div class="col-lg-8">
                                <img class="d-block w-100" src="{{ asset('images/main_page_banner/banner_img.jpg') }}" alt="First slide">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="info_banner">

                                </div>
                            </div>
                            <div class="col-lg-8 banner_img">
                                <img class="d-block w-100" src="{{ asset('images/main_page_banner/banner_img.jpg') }}" alt="First slide">
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="equipment">
            <h1 class="title_block">ОБОРУДОВАНИЕ</h1>
            <div class="row">
                <div class="col-lg-3">
                    <div class="item">
                        <img src="{{ asset('images/equipment_img_block/img_01.jpg') }}">
                        <div class="info">
                            <h5>Системы пожаротушения для горнодобывающей техники</h5>
                            <h6>АО НПЦ Горноспасательные технологии</h6>
                            <button class="equipment_more">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="item">
                        <img src="{{ asset('images/equipment_img_block/img_02.jpg') }}">
                        <div class="info">
                            <h5>Системы пожаротушения для горнодобывающей техники</h5>
                            <h6>AFEX Fire Suppression System</h6>
                            <button class="equipment_more">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="item">
                        <img src="{{ asset('images/equipment_img_block/img_03.jpg') }}">
                        <div class="info">
                            <h5>Централизованные системы смазки</h5>
                            <h6>SKF / Lincoln</h6>
                            <button class="equipment_more">Подробнее</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="item">
                        <img src="{{ asset('images/equipment_img_block/img_04.jpg') }}">
                        <div class="info">
                            <h5>Централизованные системы смазки</h5>
                            <h6>WIGtGINS Service System</h6>
                            <button class="equipment_more">Подробнее</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="statistics_banner">

    </div>

    <div class="container">
        <h1 class="title_block">НАШИ КЛИЕНТЫ</h1>
    </div>

{% endblock %}