{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        img {
            max-width: 100%;
            padding: 10px;
        }
        .page-404 {
            text-align: center;
            color: #9c9c9c;
            font-family: "Times New Roman", "Courier New", Courier, monospace;
            font-size: 24px;
            font-weight: bolder;
        }
    </style>
    {% endblock %}
{% block body %}
    <div class="page-404">
    <img src="{{ asset('images/service/404.png') }}" alt="">
    <p>К сожалению, такой страницы нет на данном сайте. <br> Возможно вы ввели неправильный адрес или страница была удалена с сервера.</p>
    </div>
{% endblock %}